<% for(post of posts){%>
    <li id="post-<%= post._id%>">
        <p>
            <% if(locals.user&& locals.user.id==post.user.id){%>
                <small>
                    <a id="delete-post-button" href="/post/destroy/<%= post.id%>">X</a>
                </small>
                <%}%>
                    <%= post.content %>
                        <br>
                        <small>
                            <%= post.user.name %>
                        </small>

                        <%-include('_comment')-%>

                            <%}%>
        </p>

    </li>